* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans Condensed', sans-serif;
}

body {
  font-family: "Lucida Grande";
}

a {
    text-decoration: none;
    color: #fff;
}

/* HEADER */
header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position:fixed;
  top:0;
  z-index:10;
}

nav {
    flex: 6;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#side-nav {
    display: none;
    flex: 1;
    position: fixed;
    padding-left: 15px;
}

#logo {
    flex: 1;
    text-align: center;
}

#top-nav{
    flex: 3;
    padding-right: 70px;
    display: flex;
    justify-content: space-around;

}

#top-nav a {
    letter-spacing: 2px;
}

#top-nav a:hover {
    color: #c78500;
}

/*BAGIAN UTAMA*/
.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(https://wallpaperaccess.com/full/504405.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}
main {
    margin: 20px 0;
}
#bagian-utama {
    display: flex;
}
.img-bagian-utama {
    flex: 1;
}
.img-bagian-utama img {
    width: 75%;
    padding-bottom: 0%;
}
.slogan-bagian-utama {
    flex: 1;
    margin: 30px;

}

/*BAGIAN EXTRA*/
#bagian-extra1 {
    padding: 20px 10px;
    margin: 10px 0;
    background-color:#f8f8f8;
}
#bagian-extra2 {
    padding: 20px 10px;
    margin: 10px 0;
}
.container{
    display: flex;
    justify-content: space-between;
}
.card h2 {
    text-align: center;
    margin-bottom: 10px;
}

.box{
    background-color: turquoise;
    padding: 15px;
    flex-basis: 32%;
    border: 1px solid #dfdfdf;
    box-shadow:3px 3px 8px #dfdfdf;
    border-radius: 5px;
}
.images{
    /* width: 20%; */
    max-height: 100px;
    object-fit: cover;
    object-position: top;
}
table{
    border-collapse: collapse;
    border: 1px solid black;
    width: 70%;
    margin-bottom: 10px;
}
thead{
    background-color: darkorange;
}
th, td{
    padding: 5px;
}
td:nth-child(2), 
td:nth-child(3),
td:nth-child(4) {
    text-align: center;
}

article h2{
    color: black;
}
.button-flat-outline {
    border: 1px solid #801515;        
    background-image: linear-gradient(360deg,rgb(163, 67, 201),rgb(58, 112, 211));         
    color: white;                   
    font-size: 16px;                  
    padding: 0.5em 1em 0.5em 1em;     
}
.button-flat-outline:hover {
    opacity: 0.8;                     
}
.button-flat-outline:active {
    background: #550000;             
    color: #FFFFFF;                      
}

/* FOOTER */
#footer-up {
    background-color:#f9f9f9;
    margin-top: 20px;
    padding: 20px 50px;
    border-bottom: 1px solid #f7f7f7;
    display: flex;
}
.footer-menu {
    padding-top: 40px;
    flex: 1;
    display: flex;
    justify-content: space-around;
}

.footer-follow {
    flex: 1;
    text-align: center;
}
.footer-follow a {
    color: #000;
    margin: 0 10px;
}

.footer-follow a:hover {
    color: #ffa800;
}
.follow-img {
    width: 100%;
} 


.footer-link a {
    color: #000;
}
.footer-link a:hover {
    color: red;
}


#footer-bottom {
    background-color: #234;
    min-height: 40px;
    font-size: 0.8em;
    padding: 5px 0;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
}
.footer-menu-bottom {
    display: none;
}
.footer-copyright {
    margin: auto;
}



